<% layout('../layout') %> 

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <% include ../partials/auth/navbar %>
    <!-- Header -->
    <% include ../partials/auth/header %>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="text-muted text-center mt-5"><h1>회원가입</h1></div>
            <div class="card-body px-lg-5 py-lg-5">
              <form role="form" action="/auth/register" method="POST">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input class="form-control" name="name" placeholder="이름" type="text" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.name) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
                  <% } %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" name="userID" placeholder="아이디" type="text" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.username) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.username %></strong>
                  <% } %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" name="password" placeholder="비밀번호" type="password" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.password) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.password %></strong>
                  <% } %>
                </div>
                <% if (locals.messages && locals.messages.databaseError) { %>
                  <strong class="invalid-feedback" style="display: block"><%= messages.databaseError %></strong>
                <% } %>
                <div class="text-center">
                  <button class="btn btn-primary mt-4">회원가입</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <% include ../partials/auth/footer %>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
